<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="">HereForDogs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <% if (currentUser) { %>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dogs
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/dogs/overview">Shelter overview</a></li>
              <li><a class="dropdown-item" href="/dogs/new">Add a dog</a></li>
              <li><a class="dropdown-item" href="#">Find a dog</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Move
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Reserve a dog</a></li>
              <li><a class="dropdown-item" href="#">Foster a dog</a></li>
              <li><a class="dropdown-item" href="/adoptions/new">Adopt a dog</a></li>
              <li><a class="dropdown-item" href="#">Return to owner</a></li>
              <li><a class="dropdown-item" href="#">Mark as deceased</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Reservation book</a></li>
              <li><a class="dropdown-item" href="#">Foster book</a></li>
              <li><a class="dropdown-item" href="/adoptions/book">Adoption book</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Medical
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/medical/vaccination/new">Add a vaccionation</a></li>
              <li><a class="dropdown-item" href="/medical/vaccination/book">Vaccionation book</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Add a test</a></li>
              <li><a class="dropdown-item" href="#">Test book</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Add a treatment</a></li>
              <li><a class="dropdown-item" href="#">Treatments book</a></li>
            </ul> 
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              People
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/people">People</a></li>
              <li><a class="dropdown-item" href="/people/new">Add a person</a></li>
              <li><a class="dropdown-item" href="#">Find a person</a></li>
            </ul>
          </li>
          <% } %>
          <% if(currentUser && currentUser.role === 1){ %>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Financial
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Incomes</a></li>
              <li><a class="dropdown-item" href="#">Expences</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" role="button">
              Administration
            </a>
          </li>
          <% } %>
          
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currentUser){ %>
          <a class="nav-link" href="/users/login">Login</a>
          <% }else{ %>
          <a class="nav-link" href="/users/logout">Logout</a>
          <p class="nav-link text-success"><%= currentUser.username %></p>
          <% } %>
        </div>
      </div>
    </div>
</nav>
